<!-- This file defines the base structure that every html file in templates
    must have -->

{% load bootstrap4 %}
{% load static %}

{% bootstrap_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<body>
    {% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">YourList WebApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://192.168.99.100:3000" target="_blank">Grafana</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://192.168.99.100:9090" target="_blank">Prometheus</a>
            </li>
            </ul>
        </div>
    </nav>
    {% endblock %}
    {% block content %}
    {% endblock %}
</body>

<!-- Test comment for oral exam -->