{% extends 'yourlist/base.html' %}
{% load bootstrap4 %}

{% block content %}
    <section>
        {% if users_list %}
            <ul>
            {% for user in users_list %}
                <li><a href="{% url 'yourlist:userView' user.id %}">{{ user.name }} {{ user.surname }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p><i>No users have been signed up yet</i></p>
        {% endif %}

        <form action="{% url 'yourlist:userCreate' %}">
            {% buttons %}
                <button type="submit" class="btn btn-dark">
                  Create new user
                </button>
            {% endbuttons %}
        </form>
    </section>
{% endblock %}