{% extends 'yourlist/base.html' %}
{% load bootstrap4 %}

{% block content %}
    <section>
        <p>Interest {{ interest.description }} for user {{ user.name }} {{ user.surname }} has been deleted from database!</p>

        <form action="{% url 'yourlist:userView' user.id %}">
            {% buttons %}
                <button type="submit" class="btn btn-dark">
                  Go back
                </button>
            {% endbuttons %}
        </form>
    </section>
{% endblock %}