{% extends 'yourlist/base.html' %}
{% load bootstrap4 %}

{% block content %}
    <section>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {% buttons %}
                <button type="submit" class="btn btn-dark">
                  Create!
                </button>
            {% endbuttons %}
        </form>

        {% if form_valid %}
            <p>Interest successfully added!</p>
        {% endif %}
        <form action="{% url 'yourlist:userView' user.id %}">
                {% buttons %}
                <button type="submit" class="btn btn-dark">
                  Go back
                </button>
            {% endbuttons %}
        </form>
    </section>
{% endblock %}