{% extends 'yourlist/base.html' %}
{% load bootstrap4 %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

{% block content %}
    <section>
        <h2>{{ user.name }} {{ user.surname }}'s profile | {{ user.age }} anni</h2>
        <hr/>
        <form action="{% url 'yourlist:userDelete' user.id %}">
            {% buttons %}
                <button type="submit" class="btn btn-dark inline">
                  Delete this user
                </button>
            {% endbuttons %}
        </form>
        <form action="{% url 'yourlist:interestCreate' user.id %}">
            {% buttons %}
                <button type="submit" class="btn btn-dark inline">
                  Add new interest
                </button>
            {% endbuttons %}
        </form>
        <hr/>
        <p>Here you can see {{ user.name }} {{ user.surname }}'s' interests. You can ADD a new interest by clicking on button above or REMOVE an old one by clicking on it.
        </p>
        <p>You can also REMOVE this user from our database, clicking the button above.</p>

        {% if interests_list %}
        <ul>
            {% for interest in interests_list %}
                <li><a href="{% url 'yourlist:interestRemove' interest.id %}">{{ interest.description }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
            <p><i>No interest has been assigned to this user</i></p>
        {% endif %}

        <form action="{% url 'yourlist:index' %}">
                {% buttons %}
                <button type="submit" class="btn btn-dark">
                  Go back home
                </button>
            {% endbuttons %}
        </form>
    </section>
{% endblock %}