{% extends 'yourlist/base.html' %}
{% load bootstrap4 %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

{% block content %}
    <section>
        <div class="form-wrapper">
            <form action="" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-dark">
                  Create
                </button>
            {% endbuttons %}
            </form>   
        </div>
            
        {% if form_valid %}
            <p>User successfully created!</p>
        {% endif %}
        <form action="{% url 'yourlist:index' %}">
            {% buttons %}
                <button type="submit" class="btn btn-dark">
                  Go back home
                </button>
            {% endbuttons %}
        </form>
    </section>
{% endblock %}
