{% extends 'yourlist/base.html' %}
{% load bootstrap4 %}

{% block content %}
    <section>
        <p>User {{ user.name }} {{ user.surname }} has been deleted from database!</p>

        <form action="{% url 'yourlist:index' %}">
                {% buttons %}
                <button type="submit" class="btn btn-dark">
                  Go back home
                </button>
            {% endbuttons %}
        </form>
    </section>
{% endblock %}