body {
    background-color: #A9A9A9;
    color: #343a40;
    font-family: "Roboto";
}

section {
    margin: 20px auto;
    width: 98%;
}

.form-control {
    width: 40% !important;
}

.inline {
    display:inline-block;
    margin-right:5px;
}